<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
  <h5 class="mb-0">
    Lista de veículos
  </h5>
</div>

<!-- Vehicle List -->
<mat-card class="daxa-card products-list-card mb-25 border-radius bg-white border-none d-block">
  <mat-card-header>
    <mat-card-title>
      <label class="main-label d-block lh-1 text-black">Placa</label>
      <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="placa..." [(ngModel)]="filter.placa" #input>

      <label class="main-label d-block lh-1 text-black">Modelo</label>
      <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="modelo..." [(ngModel)]="filter.modelo" #input>

      <label class="main-label d-block lh-1 text-black">Ano</label>
      <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="ano..." [(ngModel)]="filter.ano" #input>

      <label class="main-label d-block lh-1 text-black">Cor</label>
      <input type="text" class="input-search d-block w-100 border-none outline-0" placeholder="cor..." [(ngModel)]="filter.cor" #input>

    </mat-card-title>
    <mat-card-subtitle>
      <a mat-button class="add-new-btn" routerLink="/vehicles/createVehicle">
        + Adicionar Veículo
      </a>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
<div class="courses-table">
  <div class="table-responsive">
    <table mat-table [dataSource]="filteredVeiculos()">
      <!-- ID Column -->
      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef>
          Placa
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.placa}}
        </td>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef>
          Modelo
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.modelo}}
        </td>
      </ng-container>
      <ng-container matColumnDef="ano">
        <th mat-header-cell *matHeaderCellDef>
          Ano
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.ano}}
        </td>
      </ng-container>
      <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef>
          Cor
        </th>
        <td mat-cell *matCellDef="let element">
          {{element.cor}}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>
          Action
        </th>
        <td mat-cell *matCellDef="let element">

          <a mat-button routerLink="/vehicles/editVehicle/{{element.id}}" matTooltip="Editar veículo" matTooltipPosition="above">
            <i class="material-symbols-outlined">edit</i>
          </a>
          <a mat-button routerLink="/vehicles/deleteVehicle/{{element.id}}" matTooltip="Excluir veículo" matTooltipPosition="above">
            <i class="material-symbols-outlined">delete</i>
          </a>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>

<!--
<section>
  <header>
    <h2>Veículos</h2>
    <button routerLink="/vehicles/createVehicle" class="botao">Adicionar</button>
  </header>
  <div>
    <div>
      <h3>Pesquisar</h3>
      <i class="material-symbols-outlined">Placa</i>
      <input type="text" [(ngModel)]="filter.placa" placeholder="Filtrar por placa" />

      <i class="material-symbols-outlined">Modelo</i>
      <input type="text" [(ngModel)]="filter.modelo" placeholder="Filtrar por modelo" />

      <i class="material-symbols-outlined">Ano</i>
      <input type="number" [(ngModel)]="filter.ano" placeholder="Filtrar por ano" />

      <i class="material-symbols-outlined">Cor</i>
      <input type="text" [(ngModel)]="filter.cor" placeholder="Filtrar por cor" />
    </div>

    <table>
      <tr *ngFor="let veiculo of filteredVeiculos(); let i = index">
        <th>Placa</th>
        <td>{{ veiculo.placa }}</td>
        <th>Modelo</th>
        <td>{{ veiculo.modelo }}</td>
        <th>Ano</th>
        <td>{{ veiculo.ano }}</td>
        <th>Cor</th>
        <td>{{ veiculo.cor }}</td>
        <td><button routerLink="/vehicles/editVehicle/{{veiculo.id}}">Editar</button></td>
        <td><button routerLink="/vehicles/deleteVehicle/{{veiculo.id}}">Excluir</button></td>
      </tr>
    </table>
  </div>

</section>
-->
